.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: #444;
}

.buttons {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: 1px solid black;
        background-color: white;

        height: 100px;
        width: 100px;
    }
}